<h1> Welcome to my first lab!</h1>
<p> If you want this page to say hello go to <a href="/hello/[name]">/hello/</a><b>[your name]</b></p>

<p> If you want a short description of me go to <a href="/hello/Maximilien">/hello/Maximilien</a></p>
